<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiling.play">

    <application
        android:name=".XLPlayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label, android:theme">

        <activity android:name=".activity.XLSearchActivity" />
        <activity android:name=".view.webview.WebViewActivity" />
        <activity android:name=".activity.IMGroupTestActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".player.IJKPlayerActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".player.LiveBroadcastActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".activity.XLProductDetailsActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".activity.ConfirmationOrderActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreenTheme" />

        <activity android:name=".activity.OrderListActivit"
            android:screenOrientation="unspecified"
            android:theme="@style/FullScreenTheme"
            />

    </application>

</manifest>